<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frontend Exercise</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Flickr Images</a>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>The NASA Image Gallery</h1>
        <p>A display of images from NASA via Flickr's API</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="sortAscending">
                    Sort by Title A-Z
                </button>
                <button type="button" class="btn btn-default" id="sortDescending">
                    Sort by Title Z-A
                </button>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>



